._transition:hover {
    /* background-image: url(/build/browser/static/wave-blue.3362585e.svg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.2s ease; */
    box-sizing: border-box;
    box-shadow: -5px 5px 3px rgb(243, 15, 15);
}



